header {
	background-color:#F15B31;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	padding:20px 0;

}

h1 {
    font-family: "Raleway", sans-serif;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    text-transform: uppercase;
    margin: 0;
}

a  {
	font-family: "Raleway", sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 20px;
	
}

a {
	border-bottom: 2px solid transparent;

}

a:hover {
	border-color:white;
}

h2	{
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;

}

p 	{
  	font-family: "Droid Serif", serif;
  	line-height: 26px;
  	font-size: 18px;
}

img {
	margin: 40px 8px 0px 8px;

}

body {
    text-align: center;
    margin: 0;
}

main {
	width: 850px;
	margin: 35px auto;

}

footer {
	text-transform:uppercase;
	padding:0 20px;
	background-color:#0D2C40;
	color:white;
	font-size:14px;
	letter-spacing:.08em;
	font-weight:500;
	
}

.copyright {
	font-family: "Raleway", sans-serif;
	float:left

}

.message {
	font-family: "Raleway", sans-serif;
	float:right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

button {
	background-color: #2581D7;
    border: none;
    color: white;
    margin: 10px 0 0 0;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}